<div class="container">
  <div class="header">
    <h1>Create a new meal</h1>
  </div>
  <form class="form-body" method="post" action="{{#if singularMeal}}/meals/singleMeal{{else}}/meals/meal{{/if}}">
    {{#if message}}
    <div class="message-container">
      {{message}}
    </div>
    {{/if}}
    <div class="form-item">
      <label>Meal Name</label>
      <input type="text" name="name" pattern="^[a-zA-Z\d\s]{1,20}$" title="Must be between 1 and 20 characters long."
        value="{{mealName}}" autofocus>
    </div>
    <div class="form-item">
      <label>Description</label>
      <textarea wrap="soft" maxlength="200" name="description" rows="3" style="resize:none">{{mealDescription}}</textarea>
    </div>
    <div class="form-item">
      <label>Calories per serving</label>
      <input type="number" name="calPerServ" pattern="^\d{0,4}$" title="Numerical and up to 4 digits."
        value="{{mealCalories}}">
    </div>
    <div class="form-item">
      <label>Protein per serving</label>
      <input type="number" name="protPerServ" pattern="^\d{0,4}$" title="Numerical and up to 4 digits."
        value="{{mealProtein}}">
    </div>
    <div class="form-item">
      <label>Carbs per serving</label>
      <input type="number" name="carbsPerServ" pattern="^\d{0,4}$" title="Numerical and up to 4 digits."
        value="{{mealCarbs}}">
    </div>
    <div class="form-item">
      <label>Fats per serving</label>
      <input type="number" name="fatsPerServ" pattern="^\d{0,4}$" title="Numerical and up to 4 digits."
        value="{{mealFats}}">
    </div>
    <div>
      <input type="submit" value="Create">
    </div>
  </form>
  <div style="height:20px"></div>
</div>